header{
	background-color: #FFE8DF;
}
.container{
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
}
.header-block{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-ul{
	display: flex;
}
.nav-li{
	margin-right: 20px;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
}
.nav-li:hover{
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.fas{
	color: #888888;
}
.fa-bars{
	
	font-size: 30px;
	display: none;
}
a{
	color: #707070;
}
.flex{
	display: flex;
	justify-content: space-between;
	max-width: 1170px;
	width: 100%;
}
.img-flex{
	max-width: 585px;
	width: 100%;
}
.title-box{
	max-width: 585px;
	width: 100%;
	background-color: #FFFFFF;
	color: #5B6263;
	box-shadow: 0px 0px 4px 0px rgba(189, 189, 189, 1);
	font-size: 60px;
}
.home-title{
	color: #5B6263;
	font-size: 48px;
	margin-left: 70px;
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
}
.second-home-title{
	margin-left: 50px;
	margin-top: 70px;
	font-family: 'Roboto', sans-serif;
}
body{
	background-color: #F0F0F0;
}
.title{
	color: #505758;
	font-size: 30px;
	margin-top: 40px;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}
.second-flex{
	display: flex;
	margin-top: 32px;
}
.flex-block{
	display: flex;
	margin-top: 32px;
}
.text-box{
    line-height: 40px;
    width: 500px;
    font-size: 20px;
    color: #888888;
    font-family: 'Roboto', sans-serif;
    margin-left: 70px;
    display: flex;
	justify-content: space-between;
}
.second{
	margin-top: 60px;
}
h3{
	font-size: 25px;
	color: #707070;
	margin-top: 50px;
	font-family: 'Roboto', sans-serif;
	margin-bottom: 40px;
}
.texts{
	line-height: 30px;
	color: #888888;
    font-family: 'Roboto', sans-serif;
    width: 266px;
    margin-left: 80px;
}
.text-block{
	line-height: 30px;
	color: #888888;
    font-family: 'Roboto', sans-serif;
    width: 266px;
}
.img{
	margin-left: 80px;
}
footer{
	background-color: #888888;
	padding: 20px 0;
	margin-top: 50px;
}
.footer-block{
    display: flex;
    justify-content: space-between;
}
.footer-nav-ul{
	display: flex;
}
span{
	color: #FFFFFF;
}
.fa-facebook-f {
    font-size: 15px;
    padding-top: 5px;
}
.fab{   
    border-radius: 100%;
    background-color: #FFFFFF;
    width: 25px;
    height: 25px;
    color: #888888;
    text-align: center;
}
.fab:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}
.fa-instagram {
    font-size: 15px;
    padding-top: 5px;
    margin-left: 20px;
}
.blocks{
	display: flex;
	justify-content: space-between;
}
.text-block{
	text-align: start;
	margin-top: 20px;
}
iframe{
	margin-top:60px;
}
h4{
    font-size: 24px;
	color: #888888; 
    font-family: 'Roboto';	
    margin-top: 40px;
    margin-bottom: 30px;
}
.form-wrap{
    max-width: 630px;
    width: 100%;
}
input{
	width: 100%;
	padding: 12px 20px;
	margin-top: 14px;
	margin-bottom: 10px;
    border: 1px solid;
    color: #888888;
 }
label{
    font-size: 20px;
    font-family: 'Roboto';	
    color: #888888;
}
.textarea-block{
	width: 100%;
	padding: 12px 20px;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 112px;	
    border: 1px solid;
    color: #888888;
    font-family: 'Roboto';
}
.submit{
	background-color: #888888;
	color: #fff;
	border: none; 
	width: 145px;
	height: 45px;
	text-transform: uppercase;
	font-size: 21px;
	margin-top: 20px;
}
.contact{
	display: flex;
	justify-content: space-between;
}
.form-block{
	margin-top: 25px;
}

.icon{
	display: flex;
	color: #888888;
	margin-top: 50px;
    margin-left: 10px;
}
.cont{
	margin-left: 10px;
}
.ic{
	display: flex;
	color: #888888;
	margin-left: 10px;
	margin-top: 15px;
}